<br>
<br>

<p>
  Blog (ang. web log – dziennik sieciowy) – rodzaj strony internetowej zawierającej odrębne, zazwyczaj uporządkowane chronologicznie wpisy. Blogi umożliwiają zazwyczaj archiwizację oraz kategoryzację i tagowanie wpisów, a także komentowanie notatek przez czytelników danego dziennika sieciowego. Ogół blogów traktowany jako medium komunikacyjne nosi nazwę blogosfery.

  Blog od wielu innych stron internetowych różni się zawartością. Niegdyś weblogi utożsamiano ze stronami osobistymi (czy domowymi). Dziś ten pogląd jest nieaktualny, wciąż jednak od innych stron internetowych blogi odróżnia bardziej personalny charakter treści: częściej stosowana jest narracja pierwszoosobowa, a fakty nierzadko przeplatają się z opiniami autora. Ponadto można spotkać się z definicją bloga jako sposobu komunikacji
</p>
<br>

  Funkcje blogu

<ul>
  <li>ekspresji – forma bloga stwarza okazję do wyrażenia siebie, subiektywnej wizji świata, w której manifestuje się osobowość i oryginalność autora. Blog realizuje zatem potrzebę bycia dostrzeżonym, a nawet podziwianym. To też narzędzie wywierania wpływu dzięki istnieniu społeczności sieci;</li>
  <li>autopromocji – pisanie dziennika w przestrzeni wirtualnej oferuje możliwość wykreowania i wypromowania alternatywnego „ja”</li>
  <li>zaspokajania przyjemności – zarówno czytanie, jak i pisanie bloga to forma rozrywki, sposób spędzania czasu wolnego, dostarczanie codziennej porcji przyjemności;</li>
  <li>zaspokajania potrzeby więzi, towarzyskości – blog pozwala uciec przed samotnością, umożliwia nie tylko ekspresję siebie, ale także nawiązanie interesujących kontaktów towarzyskich. Blog przeistacza się w ten sposób w forum dyskusyjne;</li>
  <li>spełnienia potrzeb emocjonalnych – wyładowania swoich emocji, poczucia wolności słowa i swobody wypowiedzi.</li>
</ul>





